*{
    margin: 0;
    border: 0;
    font-family: 'Arial';
}

header{
    width: 100%;
    height: 15vh;
    background-color: #2f00ff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hora{
    font-size: 2rem;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-calculo{
    width: 420px;
    border: 1px solid #8a8a8a;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;

    & input{
        width: 250px;
        padding: 15px;
        margin: 10px;
        border: 1px solid #8a8a8a;
    }

    button{
        width: 290px;
        padding: 15px;
        margin: 10px;
        cursor:pointer;
        transition: .3s; 
    }

    button:hover{
        background-color:  #2f00ff;
        color: #ffffff;
        transition: .3s; 
    }

    span{
        font-size: 1.5rem;
    }
}